header {
  display: flex;
  border-bottom: 1px solid black;
  width: 100%;
  height: 80px;
  position: fixed;
  background-color: white;
  align-items: center;
  z-index: 1;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  }
header .logo {
  margin-right: 12px;
  height: 70px;
  width: 60px;
  display: inline;
  padding-left: 30px;
  }
header .title {
  color: MediumAquamarine;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  padding: 20px 7px;
  }
header .navigation .bnt1 {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: black;
  display: inline-block;
  padding: 20px 25px;
  text-align: center;
  text-decoration: underline;
  position: relative;
  left: 700px;
  top: 5px;
  }
    <!--Main Content Container-->
.Container {
  display: flex;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
  z-index: 2;

}
.large-column {
  display: inline-block;
  width: 630px;
  border: 1px solid black;
}
.title-ls {
  color: ;
  font-family: georgia;
  font-weight: bold;
  border: 1px solid black
}
.second-story {
  border: 1px solid black;
}
.third-story {
  border: 1px solid black;
}
            <!--Second News Column-->
.medium-column {
  display: flex;
  border: 1px solid black;
  height: auto;
  width: 300px;
}
